/* Import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Base styles */
body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height for viewport */
  margin: 0;
  padding: 0;
}

/* Responsive image styles */
.img1 {
  color: #45474B;
  margin: 0.5rem 0;
  border-radius: 50%;
  max-width: 100%; /* Allow image to scale down on small screens */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive link styles within h1 */
.h1 a {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  color: #000000;
  font-size: 1rem; /* Adjust font size for smaller screens */
  cursor: pointer;
  text-decoration: none;
}

/* Responsive item styles */
.item {
  background: #FFFFFF;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive text styles */
.sobre-apresentacao, .field {
  color: #45474B;
  margin: 0.5rem 0;
  font-size: 0.8rem; /* Adjust font size for smaller screens */
}

/* Responsive field styles */
.field {
  border-radius: 1rem;
  background-color: #F5F7F8;
  display: flex;
  align-items: center;
  width: 100%; /* Make field take full width on small screens */
}

/* Responsive social media styles */
.redes-sociais {
  display: flex;
  flex-wrap: wrap; /* Wrap items on smaller screens */
  margin-bottom: 3rem;
  padding: 0;
}

.redes {
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

/* Responsive link styles within redes */
.rede1 a {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  color: #000000;
  font-size: 1rem; /* Adjust font size for smaller screens */
  cursor: pointer;
  text-decoration: none;
}

/* Responsive hover effect for redes */
.rede1:hover {
  background-color: #7e91a3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

/* Responsive footer styles */
footer {
  background-color: #F5F7F8;
  color: #45474B;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.8rem; /* Adjust font size for smaller screens */
}

/* Responsividade para celulares */
@media (max-width: 480px) {}
