@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estilo base para responsividade */
body {
  font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
  background-color: #000000e5; /* Cor de fundo da página */
  display: flex; /* Usa Flexbox para layout */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  height: 100vh; /* Preenche a altura total da viewport */
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
  color: #faf3f3;
}

/* Imagens responsivas */
img {
  max-width: 480px;
  height: auto;
}

/* Header responsivo */
header {
  text-align: center;
  
}
.img1 {
image-rendering:pixelated;

}

h1 {
  font-size: 2rem; /* Ajusta o tamanho da fonte para telas menores */
  text-decoration: none;
  
}

/* Seção Sobre responsiva */
.sobre {
  padding: 20px; /* Adiciona padding para melhor visualização */
  
}

.sobre-apresentacao {
  font-size: 1.2rem; /* Ajusta o tamanho do texto para telas menores */
  text-align: center;
  text-shadow: #ccc;
}

/* Seção Redes Sociais responsiva */
.redes-sociais {
  display: flex;
  flex-wrap: wrap; /* Quebra a linha quando necessário */
  justify-content: center; /* Centraliza os links */
  margin: 20px 0; /* Adiciona espaço em cima e embaixo */
}

.field {
  border:none; /* Remove a borda do fieldset */
  font-size: 1.2rem;
}

.rede1 {
  margin: 10px; /* Adiciona espaço entre os links */
  text-align: center;
  border-style:solid;
}

.rede1 a {
  display: block; /* Permite que o link ocupe toda a largura */
  padding: 10px;
  background-color: #ddd; /* Cor de fundo para os links */
  color: black; /* Cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
}

.rede1 a:hover {
  background-color: #afafaf; /* Cor de fundo ao passar o mouse */
}

/* Footer responsivo */
footer {
  text-align: center;
  padding: 10px;
}

/* Media queries para ajustes em telas bem pequenas */
@media (max-width: 780px) {

  h1 {
    font-size: 1.2rem;
  }

  .sobre-apresentacao {
    font-size: 0.8rem;
  }
  
  img{
    height: auto;
  
  }

  .img1{
    height: auto;
  }
}